@{
    ViewBag.Title = "Sprints";
}


<script src="~/Scripts/Planner/Tickets.js"></script>
<script>
    $(function () {
    //    GetRecords(InitGrid);
    });
</script>

<div id="gridContainer"></div>
