@{
    ViewBag.Title = "Planner";
}

<style>
    .dx-toolbar-button {
        padding-bottom: 6px !important;
    }
</style>
<script src="~/Scripts/Planner/Tickets.js"></script>
<script>
    $(function () {
        LoadTicketsSources();
    });
</script>

<div id="gridContainer"></div>
