@{
    ViewBag.Title = "Sprints";
}


<script src="~/Scripts/Planner/Sprints.js"></script>
<script>
    $(function () {
        GetRecords(InitGrid);
    });
</script>

<div id="gridContainer"></div>
